@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Serif+Todhri&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
        
}

.banner {
    display: flex;
    background-color: #C6E4D6;
    justify-content: space-between;
    margin: 160px;
    padding: 100px;
    gap: 64px;
}

.mini-title {
    color: #504d4d;
    font-size: 24px;
    font-weight: 600;
}

.title {
    font-size: 56px;
    font-weight: 800;
}

.btn-primary {
    border-radius: 10px;
    background-color: #006A50;
    font-size: large;
    color: #ffff;
    padding: 17px 34px;
}

.second-title {
    font-weight: 710;
    font-size: 40px;

}

.second-section {
    margin: 160px;
}

.skills-container {
    display: flex;
    margin: 160px;
    gap: 24px;

}

.skill-1 {
    padding: 100px 15px 97px 32px;
    background-color: rgba(84, 144, 245, 0.2);
    border-radius: 16px;
}



.skill-2 {
    padding: 100px 50px 97px 32px;
    background-color: rgba(198, 228, 214, 1);
    border-radius: 16px;
}

.skill-3 {
    padding: 100px 32px 97px 32px;
    background-color: rgba(247, 235, 207, 1);
    border-radius: 16px;
}

.btn-extra-1 {
    padding: 11px 20px;
    background-color: #5490F5;
    color: #ffff;
    border-radius: 12px;
    border: none;
    font-size: large;
}

.btn-extra-2 {
    padding: 11px 20px;
    background-color: #09A15C;
    color: #ffff;
    border-radius: 12px;
    border: none;
    font-size: large;
}
.btn-extra-3 {
    padding: 11px 20px;
    background-color: rgba(255, 194, 57, 1);
    color: #ffff;
    border-radius: 12px;
    border: none;
    font-size: large;
}
.title-news{
    margin: 160px;
    
}

.news-section{
    display: flex;
    gap: 32px;
    padding: 48px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 24px;
    border-radius: 24px;
}
.date-time, .news-discription{
    color: rgba(14, 14, 14, 0.7);
}
.news-title{
    color: rgba(14, 14, 14, 0.8);
    font-weight: 744;
    font-variant: inherit;
    
}